<script lang="javascript">
  window.WebNotifications = {
    SERVICE_WORKER_JS: "{{ url_for('plugin.webnotifications.static', filename='js/serviceworker.js') }}",
    VAPID_PUBLIC_KEY: "BEl62iUYgUivxIkv69yViEuiBIa-Ib9-SkvMeAtA3LFgDzkrxZJjSgSnfckjBJuBkr3qBUYIHBQFLXYp5Nksh8U",
    SAVE_PUSH_SUBSCRIPTION: "{{ url_for('plugin.webnotifications.save_push_subscription') }}",
  };
</script>